@font-face {
    font-family: 'porscheNext';
    src: url(fonts/PorscheNext-Regular.otf) format('opentype');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(img/japan-gtr.jpg);
    box-sizing: border-box;
    background-position: center;
    background-position-y: bottom;
}

header {
    background-color: rgba(0, 0, 0, 0.36);
    height: 6vh;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
}

#nav-links {
    padding-top: 12px;
    list-style: none;
    margin-right: 40px;
    padding-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-nav {
    padding-left: 2%;
    font-weight: 800;
    font-family: 'porscheNext';
    font-size: 3.3rem;
    text-decoration: none;
    display: block;
    color: #F2A20C;
}

#nav-links li {
    margin-right: 30px;
}

#nav-links li a {
    font-family: 'porscheNext';
    font-size: 2.3ex;
    font-weight: 600;
    letter-spacing: 1px;
    color: #BFB78F;
    text-decoration: none;
}

#nav-links li a:hover {
    color: #F2A20C;
}

main {
    background-color: rgba(0, 0, 0, 0.36);
    
    height: 94vh;
    display: flex;
    align-items: center;
}

#background {

    height: 94vh;
    width: 100vw;

    background-color: black;
}

#card-main {
    background-color: #223240;
    box-sizing: border-box;
    margin-left: 18px;
    padding: 25px;
    border-radius: 18px;
    min-width: 313px;
    min-height: 312px;
    width: 58%;
    height: 41vh;
    max-height: 311px;
    max-width: 382px;
    border-radius: 18px;
    
}

#card-main h1 {
    color: #d29f40;
    letter-spacing: 1px;
    line-height: 34px;
}

#card-main span {
    color: #b0a678;
    display: flex;
    padding-top: 10px;
    font-size: 2.3ex;
}